<div class="grid-container">
    <h1 class="mat-h1">Dashboard</h1>
    <!--  -->
    <mat-grid-list cols="2" rowHeight="150px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        <span>Selecciona la categoría</span>
                        <!-- <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu> -->
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <app-product-category (subLevelOut)="findSubLevel($event)"></app-product-category>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf="active">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        <span>Selecciona el nivel</span>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <app-product-category (subLevelOut)="findSubLevelSecond($event)" [categoryId]="categoryId" [subLevelIn]="subLevels"></app-product-category>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="1"  *ngIf="categoryId!=null && categoryId>0 && subLevelId>0">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        <span>Selecciona el producto</span>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <app-product-list [subLevelId]="subLevelId" [categoryId]="categoryId"></app-product-list>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>

    <!-- <mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list> -->
</div>