<div class="grid-container">
  <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" (selectedIndexChange)="selectedIndexChange($event)"
    [selectedIndex]="selectedIndex">
    <mat-tab label="Productos">
      <h1 class="mat-h1">Productos</h1>
      <!--  -->
      <mat-grid-list cols="2" rowHeight="150px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                <span>Selecciona la categoría</span>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <app-product-category (subLevelOut)="findSubLevel($event)"></app-product-category>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf="active">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                <span>Selecciona el nivel</span>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <app-product-category (subLevelOut)="findSubLevelSecond($event)" [categoryId]="categoryId" [subLevelIn]="subLevels"></app-product-category>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols="1" *ngIf="categoryId!=null && categoryId>0 && subLevelId>0">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                <span>Selecciona el producto</span>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <app-product-list (productDTO)="nextCartProcess($event)" [subLevelId]="subLevelId" [categoryId]="categoryId"></app-product-list>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>

      <div class="container-overlay" *ngIf="productSelected!=null && productSelected.id!=null && modal">
        <div class="overlay-white">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                <span>{{productSelected.name}}</span>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <p>Por favor elige la cantidad que deseas</p>
              <mat-form-field>
                <mat-select name="a" [(ngModel)]="productQuantity" (selectionChange)="multiply($event)">
                  <mat-option *ngFor="let quantity of quantitys" [value]="quantity">{{quantity}}</mat-option>
                </mat-select>
              </mat-form-field>
              <p>Valor individual: {{productSelected.price}}</p>
              <p>Valor: {{amount}}</p>
              <button mat-raised-button (click)="saveChanges()" color="primary">Confirmar</button>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="overlay"></div>
      </div>

    </mat-tab>
    <mat-tab label="Detalle" [disabled]="!detail">
      <app-detail [arrSaleDto]="arrSaleDto"></app-detail>
    </mat-tab>
    <mat-tab label="Facturación" [disabled]="!bill">
      <p>Facturación</p>
    </mat-tab>
  </mat-tab-group>
</div>