<div class="container ">
  <br>
  <mat-card>
    <div class="col s12 ">
      <h2>{{title}} de cliente</h2>
    </div>
    <form action="" class="card-panel row" (submit)="doPost($event)">
      <div class="col s12 m6">
        <mat-form-field>
          <input matInput name="name" placeholder="Nombres" [(ngModel)]="client.first_name">
        </mat-form-field>
      </div>
      <div class="col s12 m6">
        <mat-form-field>
          <input matInput name="lastName" placeholder="Apellidos" [(ngModel)]="client.last_name">
        </mat-form-field>
      </div>
      <div class="col s12 m6">
        <mat-form-field>
          <input matInput name="email" placeholder="Email" [(ngModel)]="client.email">
        </mat-form-field>
      </div>
      <div class="col s12 m6">
        <mat-form-field>
          <input matInput name="identification" placeholder="Identificación" [(ngModel)]="client.identification">
        </mat-form-field>
      </div>
      <div class="col s12 m6">
        <!-- <mat-form-field>
          <input matInput name="docuento" placeholder="Documento" [(ngModel)]="client.scanned_identification">
        </mat-form-field> -->
        <input #file type="file" accept="image/*" (change)="upload($event)">
        <!-- <a mat-raised-button  #upload (click)="file.click()">Elegír documento escaneado</a> -->
      </div>
      <div class="col s12 m6" *ngIf="client.id">
        <mat-form-field *ngIf="client.state">
          <mat-select name="state" placeholder="Estado" [(value)]="client.state.id">
            <mat-option *ngFor="let state of states" value="state.id">{{state.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col s12 m6 offset-m3 center-align">
        <p>
          <button mat-raised-button color="primary">{{action}}</button>
        </p>
      </div>
      <div class="col s12 m6 offset-m3 center-align" *ngIf="client.id">
        <p>
          <a mat-raised-button color="warn" (click)="addVehicle(client)" matTooltip="Agregar vehículo" aria-label="Button that displays a tooltip when focused or hovered over">
            <mat-icon>commute</mat-icon>
          </a>
        </p>
      </div>
    </form>
  </mat-card>
  <app-vehicle-list *ngIf="client.id && vehicleList" [clientId]="client"></app-vehicle-list>
  <app-vehicle *ngIf="client.id && addVehicleToggle" [clientId]="client" [modal]="addVehicleToggle"
    (closeModal)="closeModal()" (created)="isCreated($event)"></app-vehicle>
</div>