<div class="container">
  <mat-card class="dashboard-card">
    <mat-card-header class="product-header">
      <mat-card-title>
        <h2 class="product-title">{{title}}</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content row">
      <form action="" class="card-panel row" (submit)="doPost($event)">
        <div class="col s12 m12">
          <p [class.text-danger]="notSelected">Por favor registra la matrícula</p>
          <mat-form-field>
            <input matInput name="enrollment" placeholder="Matrícula" [(ngModel)]="clientVehicleDTO.vehicle.enrollment">
          </mat-form-field>
        </div>
        <div class="col s12 m12">
          <p [class.text-danger]="notSelected">Por favor elige la ciudad</p>
          <mat-form-field>
            <mat-select [(value)]="selected">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let city of arrCity" value="{{city.id}}">{{city.name}}</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>

          <!--<select [ngModel]="clientVehicleDTO.vehicle.city">
            <option *ngFor="let city of arrCity;let i= index;" [value]="city.id" selected="i==0">{{city.name}}</option>
          </select>-->
          <!--{{selectedCity}}
            <mat-select name="city"  [(value)]="selectedCity">
              <mat-option *ngFor="let city of arrCity" value="{{city.id}}">{{city.name}}</mat-option>
            </mat-select>
          </mat-form-field>-->
        </div>
        <div class="col s12 m12">
          <p [class.text-danger]="notSelected">Por favor elige la marca</p>
          <mat-form-field>
            <mat-select name="brand" [(value)]="clientVehicleDTO.vehicle.brand" [(ngModel)]="clientVehicleDTO.vehicle.brand">
              <mat-option *ngFor="let brand of arrBrand" value="brand.id">{{brand.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col s12 m12">
          <p [class.text-danger]="notSelected">Por favor elige el tipo de vehículo</p>
          <mat-form-field>
            <mat-select name="kind" [(value)]="clientVehicleDTO.vehicle.kind" [(ngModel)]="clientVehicleDTO.vehicle.kind">
              <mat-option *ngFor="let kind of arrKind" [value]="kind.id">{{kind.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col s6 m6 offset-m3">
            <button mat-raised-button color="primary">Confirmar</button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>