<div class="container-fluid ">
  <!-- div class="col s12 ">
    <h1>{{title}}</h1>
  </div> -->
  <form action="" class=" row" (submit)="doPost($event)">
    <!-- <div class="col s12 m6 offset-m3">
      <mat-form-field>
        <textarea matInput name="courseId" placeholder="id de cursos" [(ngModel)]="courseSelectDTO.ids"></textarea>
      </mat-form-field>
    </div> -->
    <div class="col s12 m6 offset-m3">
      <mat-form-field> 
        <label for="">{{placeholder}}</label>
        <mat-select name="category"  [(ngModel)]="categoryIdInitial" (selectionChange)="findSubLevels($event)">
          <mat-option *ngFor="let category of arrCategoryModel" [(value)]="category.id+'-'+category.name">{{category.name}}</mat-option>
        </mat-select>
      </mat-form-field>      
    </div>
     <!--<div class="col s12 m6 offset-m3" *ngIf="courseSelectDTO.account !=null">
      <mat-form-field>      
        <mat-select name="rol" placeholder="Subcuentas" [(ngModel)]="courseSelectDTO.subAccount">
          <mat-option *ngFor="let subAccount of subAccountsList" [(value)]="subAccount.id">{{subAccount.name}}</mat-option>
        </mat-select>
      </mat-form-field> 
      <app-sub-accounts-list [accountName]="courseSelectDTO.account" (out)="getSubAccountSelected($event)"></app-sub-accounts-list>
    </div>
    
    <div class="col s12 m6 offset-m3 center-align" *ngIf="courseSelectDTO.account !=null && courseSelectDTO.account !='' && courseSelectDTO.subAccount !=null  ">
      <button mat-raised-button color="primary">{{action}}</button>
    </div>
    -->
  </form>
  <!-- <app-course-list [inList]="inList" [type]="type" [accountName]="courseSelectDTO.account" [subAccount]="courseSelectDTO.subAccount" ></app-course-list>   -->
</div>