<div class="example-header">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    </mat-form-field>
</div>

<div class="example-container mat-elevation-z8" *ngIf="dataSource!=null">

    <mat-table [dataSource]="dataSource" matSort matSortActive="col1" matSortDirection="desc" #table>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>

        <ng-container matColumnDef="col1">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <span class="mobile-label">Id</span>
                <div class="rightInfo">
                    {{row.col1}}
                </div>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="col2">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <span class="mobile-label">Nombre</span>
                <div class="rightInfo"><a href="#" (click)="chooseProduct(row);false">{{row.col2}}</a></div>
            </mat-cell>
        </ng-container>


        <ng-container matColumnDef="col3">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad disponible</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <span class="mobile-label">Cantidad disponible</span>
                <div class="rightInfo">{{row.col3}}</div>
            </mat-cell>
        </ng-container>


        <ng-container matColumnDef="col4">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Precio </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <span class="mobile-label">Precio</span>
                <div class="rightInfo left-align" [innerHTML]="row.col4"></div>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="col5">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nivel </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <span class="mobile-label">nivel</span>
                <div class="rightInfo left-align" [innerHTML]="row.col5"></div>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="col6">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Disponible </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <span class="mobile-label">Disponible</span>
                <div class="rightInfo left-align" [innerHTML]="row.col6 | avaibility"></div>
            </mat-cell>
        </ng-container>



    </mat-table>
    <mat-paginator [pageSizeOptions]="[5,25, 100]"></mat-paginator>
</div>