<div class="container">
  <p>Filtros de busqueda</p>
  <form class="example-container" (ngSubmit)="doPost($event);false">
    <mat-form-field>
      <mat-select name="availity" placeholder="Disponibilidad" [(ngModel)]="filterDTO.availity" (selectionChange)="multiply($event)">
        <mat-option *ngFor="let item of availity" [value]="item.state">{{item.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <h3>Rango de precios</h3>
    <p>precio mínimo ($ {{filterDTO.minValue |number}})</p>
    <mat-slider name="minValue" class="example-margin" [max]="maxValue" [min]="minValue" [(ngModel)]="filterDTO.minValue"
      [vertical]="vertical">
    </mat-slider>
    <p>precio máximo ($ {{filterDTO.maxValue | number}})</p>
    <mat-slider name="maxValue" [invert]="true" class="example-margin" [max]="maxValue" [min]="minValue" [(ngModel)]="filterDTO.maxValue"
      [vertical]="vertical">
    </mat-slider>

    <h3>Cantidad disponible de productos</h3>
    <p>Mínimo ({{filterDTO.minQuantity | number}})</p>
    <mat-slider name="minQuantity" class="example-margin" [max]="maxQuantity" [min]="minQuantity" [(ngModel)]="filterDTO.minQuantity"
      [vertical]="vertical">
    </mat-slider>
    <p>Máximo ({{filterDTO.maxQuantity | number}})</p>
    <mat-slider name="maxQuantity" [invert]="true" class="example-margin" [max]="maxQuantity" [min]="minQuantity"
      [(ngModel)]="filterDTO.maxQuantity" [vertical]="vertical">
    </mat-slider>
    <p>
      <button mat-raised-button color="primary">Confirmar</button>
    </p>
  </form>
</div>
