<div class="container-overlay" *ngIf="clientId!=null && modal">
  <div class="overlay-white">
    <mat-card class="dashboard-card">
      <mat-card-header class="product-header">
        <mat-card-title>
          <h2 class="product-title">{{title}}</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content row">
        <div class="col s12 m12">
          <p [class.text-danger]="notSelected">Por favor registra la matrícula</p>
          <mat-form-field>
            <input matInput name="enrollment" placeholder="Matrícula" [(ngModel)]="clientVehicleDTO.vehicle.enrollment">
          </mat-form-field>
        </div>
        <div class="col s12 m12">
          <p [class.text-danger]="notSelected">Por favor elige la ciudad</p>
          <mat-form-field>
            <mat-select name="city"  [(ngModel)]="clientVehicleDTO.vehicle.city.id" (selectionChange)="changeCity($event)">
              <mat-option *ngFor="let city of arrCity" [value]="city.id">{{city.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col s12 m12">
          <p [class.text-danger]="notSelected">Por favor elige la marca</p>
          <mat-form-field>
            <mat-select name="brand" [(ngModel)]="clientVehicleDTO.vehicle.brand.id" (selectionChange)="changeBrand($event)">
              <mat-option *ngFor="let brand of arrBrand" [value]="brand.id">{{brand.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col s12 m12">
          <p [class.text-danger]="notSelected">Por favor elige el tipo de vehículo</p>
          <mat-form-field>
            <mat-select name="kind"  [(ngModel)]="clientVehicleDTO.vehicle.kind.id" (selectionChange)="changeKind($event)">
              <mat-option *ngFor="let kind of arrKind" [value]="kind.id">{{kind.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col s6 m6">
            <button mat-raised-button (click)="saveChanges(false)" color="warn">Cancelar</button>
          </div>
          <div class="col s6 m6 ">
            <button mat-raised-button (click)="saveChanges()" color="primary">Confirmar</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="overlay"></div>
</div>